body {
	margin: 0;
	padding: 0;
	font-family: 'Fira Sans', sans-serif;
}

h1 {
	font-size: 50px;
}
h2 {
	font-size: 40px;
}
.flexible-container {
	display: flex;
}
.tomato {
	color: tomato;
}
#header-area {
	background: #ca543f;
	padding: 10px 60px;
}

.logo {
	width: 12%;
}

.logo img {
	width: 90%;
}

.menu {
	width: 88%;
	text-align: right;
}

.menu ul {
	list-style-type: none;
	margin: 0;
	padding-top: 28px;
}

.menu ul li {
	display: inline-block;
	padding-left: 30px;
}

.menu ul li a {
	text-decoration: none;
	font-size: 20px;
	font-weight: 600;
	color: white;
}

#banner-area {
	padding: 70px 0;
}

.half-width {
	width: 50%;
	margin-left: 5%;
	margin-right: 5%;
}

.half-width p {
	padding-bottom: 25px;
}

.half-width img {
	width: 90%;
}

.link-button {
	text-decoration: none;
	background-image: linear-gradient(salmon, tomato);
	padding: 12px 25px;
	color: #fff;
	font-size: 18px;
	border-radius: 7px;
	font-weight: 600;
}

#about-area {
	background-image: url(images/7.png);
	background-repeat: no-repeat;
	background-position: left;
	padding: 70px 0;
}

#my-recipies-area {
	padding: 70px 0;
}

.section-title {
	text-align: center;
}

.section-title h2 {
	margin: 0;
}

.section-title p {
	padding: 0 410px;
	padding-bottom: 50px;
}

.recipies-container {
	display: flex;
}

.recipies-item {
	width: 33.33%;
	margin-left: 4%;
	margin-right: 4%;
	box-shadow: 12px 12px 40px gray;
	padding: 10px;
	border-radius: 15px;
}

.recipies-item img {
	width: 100%;
}

#followers {
	padding: 70px 100px;
}

.follower-category {
	display: flex;
	box-shadow: 10px 10px 40px gray;
	border-radius: 10px;
}

.follower-item {
	width: 33.33%;
	text-align: center;
}

#our_comming-soon-product {
	padding: 80px 0;
	background-image: url(images/bg3.jpg);
	background-repeat: no-repeat;
	background-position: left;
	background-size: cover;
}

.product-gallery {
	display: flex;
}

.product-item {
	width: 33.33%;
	margin-left: 4%;
	margin-right: 4%;
	text-align: center;
	border: 2px solid #eaeaea;
	padding: 5px;
	padding-bottom: 20px;
}

.product-item img {
	width: 100%;
	height: 270px;
	border-radius: 7px;
}

footer {
	background: #000;
	color: #fff;
	text-align: center;
	padding: 20px 0;
}

footer p {
	padding-bottom: 15px;
}